@{
    ViewBag.Title = "About";
}
<h1>@ViewBag.Title</h1>
<h2>@ViewBag.Message</h2>

<p>
    This is an example E-Commerce application. Please feel free to explore and evaluate this site. The site is fully functional and is meant to show the potential of the application.
    While all of the major functionality is present, please realize that this is only an example. Please <strong>do not</strong> enter any real credit card or financial information.
</p>
<p>
    // TODO: Finalize all copy
</p>
