@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Surf Shop</h1>
    <p class="lead">Grab all the latest gear for your favorite sports on the ocean blue.</p>
    <p>@Html.ActionLink("Learn More", "About", "Home", null, new {@class = "btn btn-primary btn-lg"})</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Hot Deals</h2>
        <p>
            Donec eros risus, facilisis vel velit et, aliquam aliquet mi. Donec et ipsum quis metus rhoncus ultrices in blandit erat. 
            Cras et molestie ante. Etiam felis lacus, condimentum sed volutpat vitae, pretium eu mauris. Morbi eleifend arcu in aliquam egestas.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Product Reviews</h2>
        <p>
            Vestibulum maximus, dui eu suscipit suscipit, augue turpis feugiat quam, a scelerisque lectus ligula quis sapien. 
            Donec sed feugiat neque. Suspendisse id ipsum nec nisi ultricies dapibus ut non ante.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Free Shipping</h2>
        <p>
            Etiam ultricies purus faucibus dolor rutrum, nec ornare mauris volutpat. Integer sit amet aliquet felis. 
            Cras venenatis lectus ut finibus sodales. Proin vestibulum erat porttitor nisl malesuada dictum.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>